.podcastDetailsContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 32px;
    border: 1px solid #46464c;
    border-radius: 5px;
}

.podcastDetailsHeader {
    display: flex;
}

.podcastArtwork {
    width: 200px;
    height: auto;
}

.podcastInfo {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-left: 16px;
}

.podcastTitle {
    display: block;
    font-size: 32px;
}

.podcastArtist {
    display: block;
    color: #46464c;
}

.podcastDescription {
    display: block;
}

.podcastTabMenu {
    display: flex;
    justify-content: center;
}

.podcastTab {
    margin: 32px 24px;
}

.podcastTab:hover {
    cursor: pointer;
}

.episodeContainer {
    padding: 16px 0;
    border-top: 1px solid #46464c;
}

.episodeHeader {
    display: flex;
    justify-content: space-between;
    color: #6a6a6a;
    transition: color 0.25s ease;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.episodeHeader:hover,
.activeEpisode {
    color: #f0f3f5;
}

.titleCaret {
    margin: 0 8px;
}

.episodeTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 24px;
}

.episodeDescription {
    margin: 16px 16px 0 16px;
    white-space: pre-wrap;
}

.episodeButton {
    margin: 0 4px;
    font-size: 20px;
}