.podcastDetailsContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 32px;
    border: 1px solid #46464c;
    border-radius: 5px;
}

.podcastDetailsHeader {
    display: flex;
}

.podcastArtwork {
    width: 200px;
    height: 200px;
}

.podcastInfo {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-left: 16px;
}

.podcastTitle {
    display: block;
    font-size: 32px;
}

.podcastArtist {
    display: block;
    color: #46464c;
}

.subscribeButton {
    min-width: 100px;
    border-radius: 3px;
    margin-top: 8px;
    font-size: 16px;
}

.buttonDelete {
    color: #46464c;
    border: 1px solid #46464c;
    transition: color 0.25s ease, border 0.25s ease;
}

.buttonDelete:hover {
    color: #ba1b1d;
    border: 1px solid #ba1b1d;
}

.podcastDescription {
    display: block;
    margin-top: 16px;
}

.podcastTabMenu {
    display: flex;
    justify-content: center;
}

.podcastTab {
    margin: 32px 24px;
    color: #46464c;
    transition: color 0.25s ease;
}

.podcastTab:hover {
    cursor: pointer;
    color: #f35b04;
}

.activeTab {
    color: #f35b04;
}

.episodeContainer {
    padding: 16px 0;
    border-top: 1px solid #46464c;
}

.episodeHeader {
    display: flex;
    justify-content: space-between;
    color: #6a6a6a;
    transition: color 0.25s ease;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.episodeHeader:hover,
.activeEpisode {
    color: #f0f3f5;
}

.titleCaret {
    margin: 0 8px;
}

.episodeTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 24px;
}

.episodeDescription {
    margin: 16px 16px 0 16px;
    white-space: pre-wrap;
}

.episodeButton {
    margin: 0 2px;
    font-size: 20px;
    width: 25px;
}

.reviewInput {
    box-sizing: border-box;
    margin: 16px 0;
    width: 100%;
    min-height: 200px;
    padding: 8px 0 8px 8px;
    background-color: #1e1e24;
    color: #f0f3f5;
    border: 1px solid #46464c;
    border-radius: 3px;
    transition: border 0.25s ease, color 0.25s ease;
    font-family: 'Roboto', sans-serif;
}

.reviewInput:placeholder-shown {
    color: #46464c;
}

.reviewInput:hover {
    border: 1px solid #f0f3f5;
    border-radius: 3px;
    color: #f0f3f5;
}

.reviewInput:focus {
    border: 1px solid #f0f3f5;
    border-radius: 3px;
    outline: none;
    color: #f0f3f5;
}

.reviewSubmitButton {
    background-color: #1e1e24;
    color: #46464c;
    border: 1px solid #46464c;
    border-radius: 3px;
    transition: border 0.25s ease, color 0.25s ease;
}

.reviewSubmitButton:hover {
    border: 1px solid #f0f3f5;
    color: #f0f3f5;
}

.reviewEditButton {
    background-color: #1e1e24;
    color: #46464c;
    border: 1px solid #46464c;
    border-radius: 3px;
    transition: border 0.25s ease, color 0.25s ease;
    margin-left: 16px;
}

.reviewEditButton:hover {
    color: #ba1b1d;
    border: 1px solid #ba1b1d;
}

.reviewStar {
    padding-right: 4px;
    color: #46464c;
}

.highlightedStar {
    color: #f35b04;
}

.ratingText {
    margin-right: 16px;
}

.reviewListDivider {
    margin: 32px 0 8px 0;
    color: #46464c;
    display: flex;
    justify-content: space-between;
}

.topDivider {
    margin: 0 0 8px 0;
}

.reviewButton {
    margin-left: 16px;
}

.reviewButton:hover {
    transition: color 0.25s ease;
    color: #f0f3f5;
}

.reviewContainer {
    padding: 16px 0;
    border-top: 1px solid #46464c;
}

.reviewHeader {
    display: flex;
    justify-content: space-between;
}

.reviewUser {
    padding-right: 16px;
}

.reviewDate {
    color: #46464c;
    font-size: 14px;
}

.staticStar {
    cursor: default;
}

.reviewText {
    margin-top: 16px;
}

.emptyReviewText {
    padding: 32px 0 0 0;
    border-top: 1px solid #46464c;
    text-align: center;
    color: #46464c;
}

