.audioPlayerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.controlButton {
    font-size: 40px;
    color: #f35b04;
    transition: color 0.25s ease;
}

.controlButton:hover {
    cursor: pointer;
}

.bar {
    user-select: none;
    width: 300px;
    display: flex;
    align-items: center;
}

.barProgress {
    flex: 1;
    border-radius: 5px;
    margin: 0 24px;
    height: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: height 0.25s ease;
}

.barProgress:hover {
    height: 8px;
}

.progressKnob {
    position: relative;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    box-shadow: -3px 0 10px #333333;
    background-color: #f35b04;
}

.barTime {
    transition: color 0.25s ease;
    font-size: 12px;
}

.inactiveTime {
    color: #a1a1a1;
}

.volumeButtonContainer {
    width: 48px;
}

.volumeButton {
    margin-left: 16px;
    font-size: 24px;
    color: #f35b04;
    transition: color 0.25s ease;
}

.inactiveButton {
    color: #1e1e24;
}

.inactiveKnob {
    background-color: #1e1e24;
}

.sliderContainer {
    position: absolute;
    bottom: 40px;
    height: 150px;
    width: 30px;
    background-color: #46464c;
    box-shadow: -1px 1px 10px #333;
    display: flex;
    flex-flow: column;
    align-items: center;
    user-select: none;
}

.volumeSlider {
    flex: 1;
    border-radius: 5px;
    margin: 8px 0;
    width: 4px;
    display: flex;
    flex-flow: column;
    align-items: center;
    cursor: pointer;
}

.volumeKnob {
    position: relative;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    box-shadow: 0 3px 10px #333333;
    background-color: #f35b04;
}