.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 64px;
    background-color: #46464c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.push {
    height: 64px;
}

.footerIcon {
    font-size: 40px;
    color: #f35b04;
    margin-right: 16px;
}

.footerIcon:hover {
    cursor: pointer;
}

.footerDiv {
    width: 33%;
}

.rightFooter {
    margin-right: 16px;
}

.aboutInfo {
    text-align: center;
    margin: 64px;
    color: #a1a1a1;
}

.aboutIcon {
    margin-left: 8px;
    color: #f35b04;
}

.emailLink {
    color: #f35b04;
}