.feedContainer {
    max-width: 900px;
    margin: 0 auto;
    padding: 32px;
    border: 1px solid #46464c;
    border-radius: 5px;
    display: flex;
    flex-flow: row nowrap;
}

.feedListContainer {
    margin-right: 32px;
    /*padding-right: 32px;*/
    /*border-right: 1px solid #46464c;*/
}

.feedListUnwatched {
    padding-bottom: 8px;
    border-bottom: 1px solid #46464c;
    text-align: center;
    color: #46464c;
    transition: color 0.25s ease;
}

.feedListUnwatched:hover {
    color: #f35b04;
}

.selectedUnwatched {
    color: #f35b04;
}

.listImgContainer {
    width: 100px;
    height: 100px;
    margin: 14px 0 -2px 0;
    display: flex;
    align-items: center;
    transition: border 0.25s ease;
    border: 2px solid #1e1e24;
}

.listImgContainer:hover {
    border-radius: 5px;
    border: 2px solid #46464c;
}

.feedListImage {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.selectedList,
.selectedListLast,
.selectedList:hover,
.selectedListLast:hover {
    border-radius: 5px;
    border: 2px solid #f35b04;
}

.lastList {
    margin: 14px 0 0 0;
}

.feedContent {
    flex: 1;
    max-width: 85%;
}

.feedEpisodeContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-top: 1px solid #46464c;
    flex-flow: row nowrap;
}

.feedEpisodeStatic {
    display: flex;
    align-items: center;
    max-width: 90%;
}

.feedEpisodeImage {
    width: 50px;
    height: 50px;
}

.feedEpisodeInfo {
    margin-left: 8px;
    overflow: hidden;
}

.feedEpisodeTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.feedEpisodeArtist {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #46464c;
}

.feedContentHeader {
    padding-bottom: 8px;
    color: #46464c;
}

.emptyFeedContent {
    border-top: 1px solid #46464c;
    color: #46464c;
    text-align: center;
    padding: 32px 0;
}

.playedHeader {
    margin-top: 32px;
}