.queuePopupContainer {
    position: absolute;
    right: 0;
    bottom: 64px;
    width: 550px;
    height: 500px;
    background-color: #46464c;
    box-shadow: 0 3px 5px #333;
    overflow-y: scroll;
}

.queueHeader {
    margin: 16px;
    padding-bottom: 8px;
    color: #a1a1a1;
    border-bottom: 1px solid #a1a1a1;
}

.emptyQueueContent {
    margin-top: 200px;
    color: #a1a1a1;
    text-align: center;
}

.queueListItem {
    padding: 16px;
    display: flex;
    align-items: center;
}

.activeItem {
    background-color: #1e1e24;
}

.clickSpace {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.queueItemImage {
    width: 50px;
    height: 50px;
}

.queueItemText {
    margin: 0 16px;
    overflow: hidden;
}

.queueItemTitle,
.queueItemArtist{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.queueItemArtist {
    color: #6a6a6a;
}

.queueItemActions {
    margin: 0 0 0 auto;
}

.queueItemButton {
    display: inline;
    margin-left: 16px;
}